/* Sane discord theme */

/* Variables */
:root {
  /* Padding Fix Variables */
  --hide-top-bs: 36px;
  --guilds-offset: 6px;
  --attach-side-padding: 8px;
  --text-area-left-margin: 2px;

  /* Discord Provided Variable Override */
  --custom-guild-list-padding: 10px;
  --custom-channel-textarea-text-area-height: calc(34px + var(--space-xs));
}

/* Make the chat bar less padded based on how much we shift things */
[class^="container"] {
  --custom-chat-input-margin-bottom: calc(15px + var(--guilds-offset));
}

/* Less side padding on the attach button */
[class^="attachButton"] {
  padding-left: var(--attach-side-padding) !important;
  padding-right: var(--attach-side-padding) !important;
}

/* Smaller margin between text area and attach button */
[class^="textArea"] > div > div {
  margin-left: var(--text-area-left-margin) !important;
}

/* Hide the details in the top bar */
[class^="bar_"] {
  display: none;
}

/* Shift the entire page up to hide most of the top bar */
[class^="base"] {
  top: calc(0px - var(--hide-top-bs));
  height: calc(100% + var(--hide-top-bs));
}

/* Shift everything but the Guilds sidebar down to make it look half decent */
[class^="sidebarList"], [class^="page"] {
  margin-top: var(--guilds-offset);
}

/* Add padding to the guilds sidebar at the top inside the scrollable asset */
[class^="stack"] {
  padding-top: var(--guilds-offset) !important;
}
